---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: US-ASCII
      string: status=%40RunLine3+reply+%23yes+to+come+run+with+me+on+
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ukOeH0KtECU7dvzvuMx9OA", oauth_nonce="efbb73f3abf973a324846ba8decd0ef5",
        oauth_signature="4MMNjvcQJBp0SP1XxTCrniSjY94%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1369081126", oauth_token="1428947773-TgBfPRRdcT9XPBnXcJuoE2nVUydfI7y6WonhyGu",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 20 May 2013 20:18:44 GMT
      Status:
      - 403 Forbidden
      X-Access-Level:
      - read-write
      X-Mid:
      - acfca1da232078b2ab75618dd4c278e7ba6a0e76
      X-Transaction:
      - 7771c8586eed9100
      X-Transaction-Mask:
      - a6183ffa5f8ca943ff1b53b5644ef1143d16f065
    body:
      encoding: US-ASCII
      string: ! '{"errors":[{"code":187,"message":"Status is a duplicate"}]}'
  recorded_at: Mon, 20 May 2013 20:18:46 GMT
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: US-ASCII
      string: status=%40RunLine3+reply+%23yes+to+come+run+with+me+on++9924
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ukOeH0KtECU7dvzvuMx9OA", oauth_nonce="f9f47a6d8a57310ba9c89a9c9ce919c2",
        oauth_signature="akwYBPS4Ht9DNxecTw4WIUmF5JI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1369081126", oauth_token="1428947773-TgBfPRRdcT9XPBnXcJuoE2nVUydfI7y6WonhyGu",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"5af1605f2574deac3b7ae8b077eabc16"'
      Last-Modified:
      - Mon, 20 May 2013 20:18:44 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Mid:
      - 73e7b7b3c57546546dfb02d40c7e099ef94c6050
      X-Transaction:
      - 0ac092a5807c8a3f
      X-Transaction-Mask:
      - a6183ffa5f8ca943ff1b53b5644ef1143d16f065
    body:
      encoding: US-ASCII
      string: ! '{"contributors":null,"retweet_count":0,"id_str":"336576748110098433","user":{"id_str":"1428947773","default_profile":true,"screen_name":"runline4","profile_use_background_image":true,"name":"runline
        2","profile_text_color":"333333","friends_count":9,"entities":{"description":{"urls":[]}},"geo_enabled":false,"url":null,"profile_sidebar_border_color":"C0DEED","notifications":false,"id":1428947773,"listed_count":0,"profile_image_url":"http:\/\/a0.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","location":null,"follow_request_sent":false,"profile_background_tile":false,"lang":"en","profile_sidebar_fill_color":"DDEEF6","utc_offset":null,"profile_image_url_https":"https:\/\/twimg0-a.akamaihd.net\/sticky\/default_profile_images\/default_profile_1_normal.png","is_translator":false,"default_profile_image":true,"contributors_enabled":false,"favourites_count":0,"profile_background_color":"C0DEED","protected":false,"description":null,"profile_background_image_url_https":"https:\/\/twimg0-a.akamaihd.net\/images\/themes\/theme1\/bg.png","verified":false,"followers_count":2,"following":false,"profile_background_image_url":"http:\/\/a0.twimg.com\/images\/themes\/theme1\/bg.png","statuses_count":20,"created_at":"Tue
        May 14 22:01:25 +0000 2013","time_zone":null,"profile_link_color":"0084B4"},"geo":null,"retweeted":false,"entities":{"urls":[],"hashtags":[{"indices":[16,20],"text":"yes"}],"user_mentions":[{"id_str":"1426604066","screen_name":"RunLine3","id":1426604066,"indices":[0,9],"name":"Run
        Line"}]},"source":"\u003Ca href=\"http:\/\/superfitnesstracker.herokuapp.com\"
        rel=\"nofollow\"\u003ERunLine Pro\u003C\/a\u003E","place":null,"coordinates":null,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_screen_name":"RunLine3","id":336576748110098433,"in_reply_to_user_id_str":"1426604066","favorited":false,"text":"@RunLine3
        reply #yes to come run with me on  9924","truncated":false,"created_at":"Mon
        May 20 20:18:44 +0000 2013","in_reply_to_user_id":1426604066}'
  recorded_at: Mon, 20 May 2013 20:18:47 GMT
[...]
