---
http_interactions:
- request:
    method: get
    uri: http://api.dailymile.com/people/justreem/entries.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"b644ea05efcb73880f2304c455c2fe6a"'
    body:
      encoding: US-ASCII
      string: ! '{"entries":[{"id":22864972,"url":"http://www.dailymile.com/entries/22864972","at":"2013-05-22T00:05:40Z","comments":[],"likes":[],"geo":{"type":"Point","coordinates":["-104.9928832054","39.7338828628"]},"user":{"username":"justreem","display_name":"Kareem
        G.","photo_url":"http://www.dailymile.com/images/defaults/user_avatar.jpg","url":"http://www.dailymile.com/people/justreem"},"workout":{"activity_type":"Running","distance":{"value":1.56,"units":"miles"},"title":"Galvanize
        Poets Row and back again!"}},{"id":22856110,"url":"http://www.dailymile.com/entries/22856110","at":"2013-05-21T15:03:19Z","message":"Great!","comments":[],"likes":[],"user":{"username":"justreem","display_name":"Kareem
        G.","photo_url":"http://www.dailymile.com/images/defaults/user_avatar.jpg","url":"http://www.dailymile.com/people/justreem"},"workout":{"activity_type":"Running","distance":{"value":2.69,"units":"miles"},"felt":"alright","duration":1153,"title":"Denver
        running"}}]}'
  recorded_at: Wed, 22 May 2013 00:07:20 GMT
recorded_with: VCR 2.5.0
