---
http_interactions:
- request:
    method: get
    uri: http://api.dailymile.com/people/justreem/entries.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"3d13e3a466899f8d5c4294b867af6a66"'
    body:
      encoding: US-ASCII
      string: ! '{"entries":[{"id":22856110,"url":"http://www.dailymile.com/entries/22856110","at":"2013-05-21T15:03:19Z","message":"Great!","comments":[],"likes":[],"user":{"username":"justreem","display_name":"Kareem
        G.","photo_url":"http://www.dailymile.com/images/defaults/user_avatar.jpg","url":"http://www.dailymile.com/people/justreem"},"workout":{"activity_type":"Running","distance":{"value":2.69,"units":"miles"},"felt":"alright","duration":1153,"title":"Denver
        running"}},{"id":22864972,"url":"http://www.dailymile.com/entries/22864972","at":"2013-05-09T06:00:00Z","comments":[],"likes":[],"user":{"username":"justreem","display_name":"Kareem
        G.","photo_url":"http://www.dailymile.com/images/defaults/user_avatar.jpg","url":"http://www.dailymile.com/people/justreem"},"workout":{"activity_type":"Running","distance":{"value":1.56,"units":"miles"},"title":"Galvanize
        Poets Row and back again!"}}]}'
  recorded_at: Thu, 23 May 2013 00:12:27 GMT
recorded_with: VCR 2.5.0
