---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: US-ASCII
      string: status=%40RunLine3+reply+%23yes+to+come+run+with+me+on+
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ukOeH0KtECU7dvzvuMx9OA", oauth_nonce="440c0a19021d0a92684173350f78440a",
        oauth_signature="f%2Bb0Yv3OOFOjRZ%2BzV%2B0rLtMqmwI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1369079090", oauth_token="1428947773-TgBfPRRdcT9XPBnXcJuoE2nVUydfI7y6WonhyGu",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"e6a618b14b29f64e9730010e2952dee3"'
      Last-Modified:
      - Mon, 20 May 2013 19:44:49 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Mid:
      - 89360a984e9a9270fcb9f06d068df2d32cbc8770
      X-Transaction:
      - e66ac11ec1193c8f
      X-Transaction-Mask:
      - a6183ffa5f8ca943ff1b53b5644ef1143d16f065
    body:
      encoding: US-ASCII
      string: ! '{"contributors":null,"retweet_count":0,"id_str":"336568212936327168","user":{"id_str":"1428947773","default_profile":true,"screen_name":"runline4","profile_use_background_image":true,"name":"runline
        2","profile_text_color":"333333","friends_count":9,"entities":{"description":{"urls":[]}},"geo_enabled":false,"url":null,"profile_sidebar_border_color":"C0DEED","notifications":false,"id":1428947773,"listed_count":0,"profile_image_url":"http:\/\/a0.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","location":null,"follow_request_sent":false,"profile_background_tile":false,"lang":"en","profile_sidebar_fill_color":"DDEEF6","utc_offset":null,"is_translator":false,"default_profile_image":true,"contributors_enabled":false,"favourites_count":0,"profile_background_color":"C0DEED","protected":false,"description":null,"profile_background_image_url_https":"https:\/\/twimg0-a.akamaihd.net\/images\/themes\/theme1\/bg.png","verified":false,"profile_image_url_https":"https:\/\/twimg0-a.akamaihd.net\/sticky\/default_profile_images\/default_profile_1_normal.png","followers_count":2,"following":false,"profile_background_image_url":"http:\/\/a0.twimg.com\/images\/themes\/theme1\/bg.png","statuses_count":16,"created_at":"Tue
        May 14 22:01:25 +0000 2013","time_zone":null,"profile_link_color":"0084B4"},"geo":null,"retweeted":false,"entities":{"urls":[],"hashtags":[{"indices":[16,20],"text":"yes"}],"user_mentions":[{"id_str":"1426604066","screen_name":"RunLine3","id":1426604066,"indices":[0,9],"name":"Run
        Line"}]},"source":"\u003Ca href=\"http:\/\/superfitnesstracker.herokuapp.com\"
        rel=\"nofollow\"\u003ERunLine Pro\u003C\/a\u003E","place":null,"coordinates":null,"in_reply_to_status_id":null,"in_reply_to_screen_name":"RunLine3","id":336568212936327168,"in_reply_to_status_id_str":null,"favorited":false,"in_reply_to_user_id_str":"1426604066","text":"@RunLine3
        reply #yes to come run with me on","truncated":false,"created_at":"Mon May
        20 19:44:49 +0000 2013","in_reply_to_user_id":1426604066}'
  recorded_at: Mon, 20 May 2013 19:44:51 GMT
[...]
