---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: US-ASCII
      string: status=%40RunLine3+reply+%23yes+to+come+run+with+me+via+runline-herokuapp.com%2Frun%2F9161
    headers:
      Authorization:
      - OAuth oauth_consumer_key="SQXPKncl9wOlvvKwf1T5w", oauth_nonce="aeb83269636c8ef2b8481e36f9dfed3e",
        oauth_signature="pP%2BxfyZcTYwGdDCTojFZspVKI74%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1369003855", oauth_token="1428947773-5kMogR0HQWkeEM5ZisRNrvkG2EGgcuLlfOVVD4K",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"24f52513d89afee0cd6ac6ed07af1c12"'
      Last-Modified:
      - Sun, 19 May 2013 22:50:55 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Mid:
      - e8541b5d70c62eb7af72daadd1c0f524708b8348
      X-Transaction:
      - cc8609919d4f26dd
      X-Transaction-Mask:
      - a6183ffa5f8ca943ff1b53b5644ef114506708bf
    body:
      encoding: US-ASCII
      string: ! '{"coordinates":null,"in_reply_to_status_id":null,"truncated":false,"user":{"profile_image_url":"http:\/\/a0.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","profile_sidebar_border_color":"C0DEED","name":"runline
        2","verified":false,"entities":{"description":{"urls":[]}},"follow_request_sent":false,"profile_background_tile":false,"profile_sidebar_fill_color":"DDEEF6","id":1428947773,"created_at":"Tue
        May 14 22:01:25 +0000 2013","default_profile_image":true,"contributors_enabled":false,"profile_image_url_https":"https:\/\/twimg0-a.akamaihd.net\/sticky\/default_profile_images\/default_profile_1_normal.png","lang":"en","favourites_count":0,"screen_name":"runline4","profile_background_image_url_https":"https:\/\/twimg0-a.akamaihd.net\/images\/themes\/theme1\/bg.png","profile_background_color":"C0DEED","utc_offset":null,"followers_count":2,"statuses_count":11,"profile_background_image_url":"http:\/\/a0.twimg.com\/images\/themes\/theme1\/bg.png","time_zone":null,"url":null,"profile_link_color":"0084B4","notifications":false,"protected":false,"description":null,"is_translator":false,"default_profile":true,"following":false,"location":null,"id_str":"1428947773","profile_use_background_image":true,"friends_count":9,"profile_text_color":"333333","listed_count":0,"geo_enabled":false},"in_reply_to_screen_name":"RunLine3","possibly_sensitive":false,"contributors":null,"id_str":"336252657884868610","entities":{"user_mentions":[{"id_str":"1426604066","id":1426604066,"indices":[0,9],"name":"Run
        Line","screen_name":"RunLine3"}],"hashtags":[{"indices":[16,20],"text":"yes"}],"urls":[{"display_url":"runline-herokuapp.com\/run\/9161","indices":[45,67],"url":"http:\/\/t.co\/AL1xMIuugP","expanded_url":"http:\/\/runline-herokuapp.com\/run\/9161"}]},"favorited":false,"source":"\u003Ca
        href=\"http:\/\/jemaddux.com\" rel=\"nofollow\"\u003ERunLine\u003C\/a\u003E","in_reply_to_status_id_str":null,"place":null,"id":336252657884868610,"created_at":"Sun
        May 19 22:50:55 +0000 2013","in_reply_to_user_id_str":"1426604066","in_reply_to_user_id":1426604066,"retweet_count":0,"text":"@RunLine3
        reply #yes to come run with me via http:\/\/t.co\/AL1xMIuugP","geo":null,"retweeted":false}'
  recorded_at: Sun, 19 May 2013 22:50:55 GMT
[...]
