---
http_interactions:
- request:
    method: get
    uri: https://api.runkeeper.com/fitnessActivities/84463239
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 318092c9fa74468dba0507844d29cf4d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.com.runkeeper.FitnessActivity+json;charset=ISO-8859-1
      Last-Modified:
      - Sat, 28 Apr 2012 17:04:48 GMT
      Content-Language:
      - en-US
    body:
      encoding: US-ASCII
      string: ! '{"climb":39.1212121212121,"nearest_teammate_weight":[],"next":"/fitnessActivities/85676150","equipment":"None","type":"Running","distance":[{"timestamp":0,"distance":0},{"timestamp":1.983,"distance":11.562785740901433},{"timestamp":4.043,"distance":24.067817946810464},{"timestamp":9.367,"distance":34.79251611739945},{"timestamp":14.02,"distance":64.13093589920592},{"timestamp":16.27,"distance":90.0951603325719},{"timestamp":17.237,"distance":102.98255378188279},{"timestamp":19.178,"distance":116.38211353621948},{"timestamp":22.948,"distance":139.93458440583242},{"timestamp":23.944,"distance":155.44185703203928},{"timestamp":24.941,"distance":171[...]
