---
http_interactions:
- request:
    method: get
    uri: https://api.runkeeper.com/fitnessActivities/?pageSize=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 318092c9fa74468dba0507844d29cf4d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.com.runkeeper.FitnessActivityFeed+json;charset=ISO-8859-1
      Last-Modified:
      - Thu, 11 Oct 2012 00:21:18 GMT
      Content-Language:
      - en-US
    body:
      encoding: US-ASCII
      string: ! '{"items":[{"duration":3138.844,"total_distance":10622.2704823343,"has_path":true,"entry_mode":"API","source":"RunKeeper","start_time":"Wed,
        10 Oct 2012 19:09:29","type":"Running","uri":"/fitnessActivities/124069314"},{"duration":1821.089,"total_distance":6481.98380886548,"has_path":true,"entry_mode":"API","source":"RunKeeper","start_time":"Tue,
        9 Oct 2012 20:02:48","type":"Running","uri":"/fitnessActivities/123842703"},{"duration":1814.125,"total_distance":6643.04174579022,"has_path":true,"entry_mode":"API","source":"RunKeeper","start_time":"Wed,
        3 Oct 2012 19:57:24","type":"Running","uri":"/fitnessActivities/122505044"},{"duration":900.967,"tot[...]
