---
http_interactions:
- request:
    method: get
    uri: https://api.runkeeper.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 318092c9fa74468dba0507844d29cf4d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.com.runkeeper.user+json;charset=ISO-8859-1
      Content-Language:
      - en-US
    body:
      encoding: US-ASCII
      string: ! '{"strength_training_activities":"/strengthTrainingActivities","weight":"/weight","settings":"/settings","diabetes":"/diabetes","team":"/team","sleep":"/sleep","fitness_activities":"/fitnessActivities","change_log":"/changeLog","goals":"/goals","userID":5234295,"nutrition":"/nutrition","general_measurements":"/generalMeasurements","background_activities":"/backgroundActivities","records":"/records","profile":"/profile"}'
  recorded_at: Sun, 19 May 2013 02:15:13 GMT
recorded_with: VCR 2.4.0
