---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: US-ASCII
      string: status=hello+world+751875740
    headers:
      Authorization:
      - OAuth oauth_consumer_key="SQXPKncl9wOlvvKwf1T5w", oauth_nonce="214844d5619f8613124bf3716e068962",
        oauth_signature="kn%2BHIF%2BdvZlJuG6tWxkd%2BXUjoIs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1369276697", oauth_token="1428947773-5kMogR0HQWkeEM5ZisRNrvkG2EGgcuLlfOVVD4K",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"35bb2e77cb5c017c10edcdc224913a4f"'
      Last-Modified:
      - Thu, 23 May 2013 02:38:14 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Mid:
      - 33bccd9401a782547d430a9a4dd684f0afa666a1
      X-Transaction:
      - a0e7fe6741d27afe
      X-Transaction-Mask:
      - a6183ffa5f8ca943ff1b53b5644ef11429c95117
    body:
      encoding: US-ASCII
      string: ! '{"in_reply_to_status_id_str":null,"id_str":"337397028697026560","favorited":false,"coordinates":null,"user":{"profile_image_url":"http:\/\/a0.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","created_at":"Tue
        May 14 22:01:25 +0000 2013","name":"runline 2","profile_image_url_https":"https:\/\/twimg0-a.akamaihd.net\/sticky\/default_profile_images\/default_profile_1_normal.png","listed_count":0,"profile_background_image_url":"http:\/\/a0.twimg.com\/images\/themes\/theme1\/bg.png","entities":{"description":{"urls":[]}},"verified":false,"contributors_enabled":false,"profile_link_color":"0084B4","id":1428947773,"id_str":"1428947773","profile_use_background_image":true,"url":null,"notifications":false,"lang":"en","profile_text_color":"333333","default_profile_image":true,"time_zone":null,"followers_count":2,"location":null,"utc_offset":null,"favourites_count":0,"profile_sidebar_border_color":"C0DEED","protected":false,"description":null,"profile_background_tile":false,"geo_enabled":false,"following":false,"profile_sidebar_fill_color":"DDEEF6","profile_background_image_url_https":"https:\/\/twimg0-a.akamaihd.net\/images\/themes\/theme1\/bg.png","default_profile":true,"statuses_count":32,"is_translator":false,"friends_count":1,"follow_request_sent":false,"profile_background_color":"C0DEED","screen_name":"runline4"},"in_reply_to_user_id_str":null,"entities":{"hashtags":[],"user_mentions":[],"urls":[]},"in_reply_to_user_id":null,"source":"\u003Ca
        href=\"http:\/\/jemaddux.com\" rel=\"nofollow\"\u003ERunLine\u003C\/a\u003E","place":null,"retweet_count":0,"truncated":false,"id":337397028697026560,"retweeted":false,"created_at":"Thu
        May 23 02:38:14 +0000 2013","in_reply_to_status_id":null,"text":"hello world
        751875740","contributors":null,"in_reply_to_screen_name":null,"geo":null}'
  recorded_at: Thu, 23 May 2013 02:38:18 GMT
recorded_with: VCR 2.5.0
