---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: US-ASCII
      string: status=%40runline3+reply+%23yes+to+come+run+with+me+on+
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ukOeH0KtECU7dvzvuMx9OA", oauth_nonce="bf6b0a4f6e1d2eb542d5048c527f2a0d",
        oauth_signature="%2FDuHX7lEDCOAZNhMzHng3t%2FtQ1I%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1369084678", oauth_token="1428947773-TgBfPRRdcT9XPBnXcJuoE2nVUydfI7y6WonhyGu",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"f5e9c06ab8f3c70035c7f2c651bc99b0"'
      Last-Modified:
      - Mon, 20 May 2013 21:17:58 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Mid:
      - 524f951f7a1837e5470ffdd0dc9992b8daf04e5b
      X-Transaction:
      - 3465e0c68c52458f
      X-Transaction-Mask:
      - a6183ffa5f8ca943ff1b53b5644ef1143d16f065
    body:
      encoding: US-ASCII
      string: ! '{"in_reply_to_user_id_str":"1426604066","contributors":null,"retweet_count":0,"id_str":"336591655459237888","user":{"id_str":"1428947773","default_profile":true,"screen_name":"runline4","profile_use_background_image":true,"name":"runline
        2","profile_text_color":"333333","friends_count":9,"entities":{"description":{"urls":[]}},"geo_enabled":false,"url":null,"profile_sidebar_border_color":"C0DEED","notifications":false,"id":1428947773,"listed_count":0,"profile_image_url":"http:\/\/a0.twimg.com\/sticky\/default_profile_images\/default_profile_1_normal.png","location":null,"follow_request_sent":false,"profile_background_tile":false,"lang":"en","profile_sidebar_fill_color":"DDEEF6","utc_offset":null,"profile_image_url_https":"https:\/\/twimg0-a.akamaihd.net\/sticky\/default_profile_images\/default_profile_1_normal.png","default_profile_image":true,"contributors_enabled":false,"favourites_count":0,"profile_background_color":"C0DEED","protected":false,"is_translator":false,"description":null,"profile_background_image_url_https":"https:\/\/twimg0-a.akamaihd.net\/images\/themes\/theme1\/bg.png","verified":false,"followers_count":2,"following":false,"profile_background_image_url":"http:\/\/a0.twimg.com\/images\/themes\/theme1\/bg.png","statuses_count":25,"created_at":"Tue
        May 14 22:01:25 +0000 2013","time_zone":null,"profile_link_color":"0084B4"},"geo":null,"retweeted":false,"entities":{"urls":[],"hashtags":[{"indices":[16,20],"text":"yes"}],"user_mentions":[{"id_str":"1426604066","screen_name":"RunLine3","id":1426604066,"indices":[0,9],"name":"Run
        Line"}]},"source":"\u003Ca href=\"http:\/\/superfitnesstracker.herokuapp.com\"
        rel=\"nofollow\"\u003ERunLine Pro\u003C\/a\u003E","place":null,"coordinates":null,"in_reply_to_status_id":null,"in_reply_to_screen_name":"RunLine3","id":336591655459237888,"favorited":false,"text":"@runline3
        reply #yes to come run with me on","in_reply_to_status_id_str":null,"truncated":false,"created_at":"Mon
        May 20 21:17:58 +0000 2013","in_reply_to_user_id":1426604066}'
  recorded_at: Mon, 20 May 2013 21:17:59 GMT
recorded_with: VCR 2.5.0
