=render "messages"
#inner-container.span8
  #inner-header.span8
    %h1.pull-left
      Fitness Apps
    #profile-content.span8
      #profile-details
        .api-integrators

          -if current_user.connected?
            %h3.pull-left
              Disconnect from #{current_user.provider}
            #api-connect.btn.btn-danger.pull-right
              = link_to "disconnect", disconnect_path, method: :delete
          -else
            %a#api-connect.btn.btn-primary.pull-right{:href => "/auth/runkeeper"} connect
            %a#api-connect.btn.btn-primary.pull-right{:href => "/connect"} connect
