#inner-container.span8
  #inner-header.span8
    %h1.pull-left
      Fitness Apps
    #profile-content.span8
      #profile-details
        .api-integrators.span8
          %h3.pull-left

            Connect with RunKeeper
            %a#api-connect.btn.btn-primary.pull-right{:href => "/auth/runkeeper"}
              connect

            %br
            %br

            Connect with DailyMile 
            %a#api-connect.btn.btn-primary.pull-right{:href => "#"}
              connect

