#inner-container.span8
  %h1
    Your Profile
    %hr
    .api-integrators.span8
      %h3.pull-left
        Integrate with RunKeeper
      %a#api-connect.btn.btn-primary.pull-right{:href => "/auth/runkeeper"} connect


