<div id="new-route">
    <%= text_field_tag 'route[name]', nil, placeholder: "Enter Route Name", id: "new-route-tag" %></br>
    Click on the map and a path will be drawn that follows the streets.<br />
    Drag the markers and the path will be redrawn.

    <div id="map" style="width: 500px; height: 400px"></div>
    <div id="link" style="display:none">
      <div id="distance"></div>
    </div>

  <noscript><b>JavaScript must be enabled in order for you to use Google Maps.</b>
    However, it seems JavaScript is either disabled or not supported by your browser.
    To view Google Maps, enable JavaScript by changing your browser options, and then
    try again.
  </noscript>
</div>
