-if run.cancelled == false
  #inner-content.span8
    #activity-details
      .run-info.pull-left
        %h1
          =link_to run.name, run_path(run.id)
    #activity-details
      .run-info.pull-left
        %h3 Start Time
        %p
          =time_tag run.started_at, format: '%I:%M %p'
    #activity-details
      .run-info.pull-left
        %h3 Date
        %p
          =date_tag run.started_at
