-if run.cancelled == false
  #inner-content.span8
    #run-details
      .run-header.pull-left
        %h1
          =link_to run.name, run_path(run.id)
      .pull-right
        %h3 Start Time
        %p
          =better_time_tag run.started_at
        %h3 Date
        %p
          =date_tag run.started_at
