<%= form_tag routes_path do %>
  <%= text_field_tag 'name', nil, placeholder: "Enter Route Name" %></br>
Click on the map and a path will be drawn that follows the streets.<br />
Drag the markers and the path will be redrawn.

<div id="map" style="width: 500px; height: 400px"></div>

<div id="link" style="display:none">
<div id="distance"></div>
</div>

  <%= submit_tag 'Create Route', class: 'btn'%>
<% end %>

<noscript><b>JavaScript must be enabled in order for you to use Google Maps.</b>
  However, it seems JavaScript is either disabled or not supported by your browser.
  To view Google Maps, enable JavaScript by changing your browser options, and then
  try again.
</noscript>
<%= javascript_tag do -%>
  showMap();

  $('form').submit(function(event) {
    event.preventDefault()

    var points = JSON.stringify(getRoutePoints(gpolys));
    $(event.target).append("<input type=hidden name=path value='"+points+"' />");

    var route = $(event.target).serializeObject();
    $.post('/routes.json', route, function() {
      })
      .done(function() {alert("success"); })
      .fail(function(result) {alert(JSON.stringify(result)); });

  });
<% end -%>

