/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 html,body {
  height: 100%;
 }
#wrap {
  height: auto !important;
  min-height: 100%;
}
#footer {
  height: 20
}
#header-nav-content {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80%;
}
#header-nav-content h1 {
  color: white;
}
#user-info {
  margin-right: auto;
  display: block;
  width: 25%;
  height: 100em;
  background-color: lightblue;
  border-radius: 6px;
}
#main-cont {
  background-color: #dee4e8;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

