/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: lightgray !important;
  background-repeat: no-repeat;
  min-height: 100%;
}

header h1 {
  display: inline;
  padding: 0;
  margin: 0;
}

#sidebar {
  margin-right: 6%;
}
#sidebar img {
  border: 2px solid #95A5A6;
  border-radius: 4px;
}

#sidebar .current-user {
  text-align: center;
  color: white;
}

#sidebar .current-user p {
  padding: 0;
  margin: 0;
}

.current-user {
  margin-bottom: 25px;
}

#main-nav ul {
  text-align: right;
}

#main-nav ul li{
  display: inline;
  color: white;
}
#main-nav a{
  display: inline;
  color: white;
}

ul.feeds li .active {
  font-weight: 900;
}


nav#feed-lists ul, nav#feed-lists li {
  padding: 0;
  margin: 0;
}


nav#feed-lists li.feeds-run {
  background-color: lightblue;
  border: 1px solid;
  text-align: center;
  height: 50px;
}

#sidebar {
  height: 100%;
}

.feed-item {
  color: #34495E;
}
.run-info-label {
  text-transform: uppercase;
  margin-right: 5px;
  font-weight: 900;
}
.run-info ul, .run-info li {
  padding: 0;
  text-align: right;
}
.run-info li {
  list-style: none;
}

.route-map-mini img {
  padding: 0;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: 5%;
}
.user-photo {
  width: 200px;
  height: 200px;
  border: solid green 1px
}
.user-photo-thumbnail {
  width: 40px;
  height: 40px;
  border: solid green 1px
}
#top-nav {
  display: inline;
}
#main-container {
  background-color: whitesmoke;
  overflow:auto;
  padding-bottom: 180px;
  padding-top: 2%;
  padding-right: 1%;
  padding-left: 2%;
  box-shadow: 0 0 20px lightslategray;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 70%;
  margin-top: 2%;
}
#footer {
  position: relative;
  margin-top: 60px; /* negative value of footer height */
  height: 80px;
  clear:both;
  background-color: #2980B9;
  padding-top: 2%;
  bottom: 0;
  width: 100%
}
#wrap {
  min-height: 100%;
}
#nav-bar {
  background-color: #2980B9;
  /*box-shadow: 0px 0px 5px #444*/
  -moz-box-shadow: 0px 3px 2px rgba(50,50,50,0.29);
  -webkit-box-shadow: 0px 3px 2px rgba(50,50,50,0.29);
  box-shadow: 0px 3px 2px rgba(50,50,50,0.29);
}
#nav-bar h1 {
  color: white;
}
#top-nav a:hover {
  color: #34495E;
}
#header-nav-content {
  margin-left: auto;
  margin-right: auto;
  display:block;
  width: 85%;
}
#run-header h1 {
  color: #34495E;
  font-size: 4em;
  margin-bottom: 3%;
}
#run-details {
  color: #34495E;
}
#inner-content {
  border: solid 2px #2980B9;
  border-radius: 6px;
  padding: 2%;
  margin-bottom: 2%;
}
.circle {
  display: inline-block;
  width: 75px;
  height: 75px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 3px solid #27AE60;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  margin-right: 25px;
}
.circle2 {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 3px solid #27AE60;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  margin-right: 25px;
}
#runner-pics-lrg {
  height: 10%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
}
#route-map-placeholder {
  height: 375px;
  width: 600px;
  background-color: lightgray;
}
#inner-header h1 {
  font-size: 4em;
  color: #34495E;
  margin-bottom: 4%;
}
#inner-container {
  color: white;
}
.api-integrator{
  margin-left: auto;
  margin-right: auto;
  display: inline;
}
#api-connect {
  margin-top: 1.5%;
}
#api-connect a {
  color: white !important;
}
#landing-hero {
  background: url('long_run_2_a.jpg')no-repeat top center;
  background-size: 100%;
  height: 450px;
  color: white;
}
#landing-bottom-container {
  height: 300px;
  width: 100%;
}
#landing-bottom-content {
  padding-top: 2%;
}
#hero-content {
  text-align: right;
}
#profile-content {
  border: solid 2px #2980B9;
  border-radius: 6px;
  padding-right: 6%;
  margin-bottom: 2%;
  padding-left: 3%;
}
#profile-details {
  color: #34495E;
}
#feed-lists > ul > li > a {
  color: white;
  text-align: center;
  font-size: 22px;
}
#feed-details {
  color: #34495E;
}

#map_canvas {
  width: 100%;
  height: 350px;
}

input#run_name {
  width: 100%;
}

textarea#run_details{
  height: 200px;
}

textarea#friends {
  height: 100px;
}
#activity-details {
  height: 10%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
}
.run-info {
  margin-right: 70px;
  color: #34495E;
}
#logo a {
  color: white;
}
#logo a:hover {
  color: #34495E;
}

.result ul li {
	list-style: none;
	padding: 0;
	margin: 0;
}

label {
	display: inline;
}

label.error {
	width: 50%;
}

input[type=text] {
	width: 100%;
}

input#address{
	width: 85%;
}

#map{
	width: 100%;
	margin: 15px 0;
}

label.error {
	margin-bottom: 15px;

}

label.route-select {
	display: inline-block;
	margin-right: 25px;
}

input[type="radio"] {
	margin: 5px;
	vertical-align: middle;
}
#footer-content {
  margin-right: auto;
  margin-left: auto;
  display; block;
  width: 20%;
  text-align: center;
}
#lander-icon {
  margin-right: 10%;
}
