%nav#nav-bar.navbar.navbar-inner
  #header-nav-content
    %h1.span7 RunLine
    %ul#top-nav.nav.pull-right
      - if current_user
        %li
          =link_to current_user.name, profile_path
        %li
          =link_to "Logout", signout_path
      - else
        %li
          =link_to "Login", "/auth/twitter"

