%nav#nav-bar.navbar.navbar-inner
  #header-nav-content
    %h1.span7 RunLine
    %ul#top-nav.nav.pull-right
      %li
        %a{:href => "/profile"} Bradley's Account
      %li
        %a{:href => "/signout"} Logout
