%nav#nav-bar.navbar.navbar-inner
  #header-nav-content
    -if current_user
      %h1#logo.span7
        %a{:href => "/dashboard"} RunLine
    -else
      %h1#logo.span7
        =link_to "RunLine", root_path
    %ul#top-nav.nav.pull-right
      - if current_user
        %li
          =link_to current_user.name, profile_path
        %li
          =link_to "Logout", signout_path
      - else
        %li
          =link_to "Sign In", "/auth/twitter"

