%aside#sidebar.span3
  .current-user.mini-profile
    -# =image_tag current_user.photo(:original)
    %a{:href => "/profile"} view profile
  %nav#feed-lists
    %ul.nav.nav-tabs.nav-stacked
      %li
        %a{:href => "/dashboard"} Fit Feed
      / %li
      /   %a{:href => "#"} Your Activity
      %li
        =link_to 'Runs', runs_path
