%aside#sidebar.span3
  .current-user.mini-profile
    %img.user-photo{:src => ""}/
    %p Bradley Sheehan
    %p
      %a{:href => "/profile"} view profile
  %nav#feed-lists
    %ul.nav.nav-tabs.nav-stacked
      %li
        %a{:href => "#"} Fit Feed
      %li
        %a{:href => "#"} Your Activity
      %li
        %a
          -runs_path
          Runs
