#main-container.container
  =render 'sidebar'
  #feed-content.span8
    %article.feed-item
      %section.feed-summary
        %img.user-photo-thumbnail
        %span.feed-summary-text John completed a run
      %section.feed-details.row
        .route-map-mini.span4
          %img{:src => "http://placehold.it/250x200"}/
        .run-info.span4
          %ul
            %li
              %span.run-info-label> Pace
              6 mph
            %li
              %span.run-info-label> Time
              1hr 00 min 00 sec
            %li
              %span.run-info-label> Distance
              6 miles
      / end .feed-details
    / end .feed-item
    %article.feed-item
      %section.feed-summary
        %img.user-photo-thumbnail
        %span.feed-summary-text Kareem completed a run
      %section.feed-details.row
        .route-map-mini.span4
          %img{:src => "http://placehold.it/250x200"}/
        .run-info.span4
          %ul
            %li
              %span.run-info-label> Pace
              6 mph
            %li
              %span.run-info-label> Time
              1hr 00 min 00 sec
            %li
              %span.run-info-label> Distance
              6 miles
      / end .feed-details
    / end .feed-item
    %article.feed-item
      %section.feed-summary
        %img.user-photo-thumbnail
        %span.feed-summary-text Denver Marathon Group completed a run!
      %section.feed-details.row
        .route-map-mini.span4
          %img{:src => "http://placehold.it/250x200"}/
        .run-info.span4
          %ul
            %li
              %span.run-info-label> Pace
              6 mph
            %li
              %span.run-info-label> Time
              1hr 00 min 00 sec
            %li
              %span.run-info-label> Distance
              6 miles
