#feed-content.span8
  -current_user.activities.each do |activity|
    %article.feed-item
      %section.feed-summary
        %img.user-photo-thumbnail
        %span.feed-summary-text
          =current_user.name
          just completed a run
        %section.feed-details.row
          .route-map-mini.span4
            %img{:src => "http://placehold.it/250x200"}/
          .run-info.span4
            %ul
              %li
                %span.run-info-label
                  Date/Time
                =activity.activity_date
              %li
                %span.run-info-label
                  Distance
                =activity.distance
              %li
                %span.run-info-label
                  Duration
                =activity.duration
