!!!
%html
  %head
    %title FeedEngine
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrap
      =render 'header'
      #main-container.container
        -if current_user
          =render 'sidebar'

        = yield
    %footer#footer
