<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/Flat-UI-master/css/flat-ui.css">
        <link rel="stylesheet" href="css/Flat-UI-master/css/bootstrap.css">

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div id="wrap">
          <nav id="nav-bar" class="navbar navbar-inner">
            <div class="container" id="header-nav-content">
              <h1 class="span7">RunLine</h1>
              <ul class="nav pull-right" id="top-nav">
                <li><a href="#">Bradley's Account</a></li>
                <li><a href="#">Logout</a></li>
              </ul>
            </div>
          </nav>
          <div class="container" id="main-container">
            <div class="row">
              <aside id="sidebar" class="span3">
              <div class="current-user mini-profile">
                <img class="user-photo" src=>
                <p>Bradley Sheehan</p>
                <p><a href="#">view profile</a></p>
              </div>

              <nav id="feed-lists">
                <ul class="nav nav-tabs nav-stacked">
                  <li><a href="#">Fit Feed</a></li>
                  <li><a href="#">Your Activity</a></li>
                  <li><a href="#">Friends</a></li>
                  <li><a href="#">Group Runs</a></li>
                </ul>
              </nav> <!-- end #feed-lists -->
              </aside><!-- end #sidebar -->

              <div id="create-run" class="span9">
                <h2>Create a Group Run</h2>
                <form>
                  <input type="text" placeholder="Group Name"></br>
                  <input type="text" placeholder="Date"></br>
                  <input type="text" placeholder="Time"></br>

                  <label class="radio">
                    <span class="icon"></span>
                    <span class="icon-to-fade"></span>
                    <input type="radio" name="routeSelector" id="selectExisitingRoute" value="selectExisitngRoute" checked>
                   Select an exisiting route
                  </label>
                  <label class="radio">
                    <span class="icon"></span>
                    <span class="icon-to-fade"></span>
                    <input type="radio" name="routeSelector" id="createNewRoute" value="createNewRoute">
                   Create a new Route
                  </label>

                  <div id="route-selection">
                    <select id="existing-routes">
                      <option value="route1">Route 1</option>
                      <option value="route2">Route 2</option>
                      <option value="route3">Route 3</option>
                    </select>
                    <div id="new-route">
                      Map goes here</br>
                      <img src="http://placehold.it/500x350">
                    </div>
                  </div>
                  <label>
                    Details:</br>
                    <textarea placeholder="details"></textarea>
                </label>
                </form>
              </div> <!-- end #create-run -->
            </div>
          </div>
        </div>
      <footer id="footer"></footer>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

          <script src="js/plugins.js"></script>
          <script src="js/main.js"></script>
          <script src="js/route-switcher.js"></script>

          <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
              g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
              s.parentNode.insertBefore(g,s)}(document,'script'));
          </script>
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="css/Flat-UI-master/js/custom_checkbox_and_radio.js"></script>
  </body>
</html>
